* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(21, 86, 88);
}
.navbar {
    display: flex;
    justify-content: space-around;
    color: rgb(240, 240, 241);
    gap: 40rem;
    margin: 20px;
}
#search {
    background-color: rgb(21, 86, 88);
    color: rgb(240, 240, 241);
    border: 1.5px solid rgb(240, 240, 241);
    border-radius: 20px;
    width: 20rem;
    padding: 5px;
    margin-left: 10px;
}
.menu > a {
    color: rgb(240, 240, 241);
    padding: 10px;
    text-decoration: none;
}
.menu > .active {
    background-color: darkgray;
    color: rgb(21, 86, 88);
    border-radius: 20px;
}
.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
    gap: 30px;
    color: rgb(240, 240, 241);
}
.bio > h1, .bio > h2, .bio >p {
    margin-bottom: 15px;
}
.photo {
    width: 350px;
    border-radius: 40px;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.section > div {
    background-color: darkgray;
    color: rgb(21, 86, 88);
    border-radius: 30px;
    text-align: center;
    height: 120px;
    width: 450px;
    padding: 10px;
    margin: 10px;
}
.list > li {
    list-style: inside;
    text-align: left;
    padding-left: 10px;
}
.quote, .maintitle {
    color: rgb(240, 240, 241);
    text-align: center;
    margin: 70px;
}

.footer {
    background-color: darkgray;
    color: rgb(21, 86, 88);
    text-align: center;
    height: 100px;
    width: 100%;
    padding-top: 40px;
    margin-top: 40px;
}
.contactform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.container {
    display: flex;
    justify-content: center;
    gap: 2rem;
 }
.input1, .input2, .input3, .input4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    color: rgb(240, 240, 241);
}
.input2 >input, .input4 >input {
    background-color: rgb(21, 86, 88);
    color: rgb(240, 240, 241);
    border: 2px solid rgb(240, 240, 241);
    border-radius: 20px;
    padding: 5px;
    width: 25rem;
    margin-left: 1rem;
}
.input5 {
    display: flex;
    justify-content: flex-start;
    color: rgb(240, 240, 241);
    gap: 2rem;
}
.input5 >textarea {
    background-color: rgb(21, 86, 88);
    color: rgb(240, 240, 241);
    border: 2px solid rgb(240, 240, 241);
    border-radius: 20px;
    padding: 5px;
}
.input6 {
    background-color: darkgray;
    color: rgb(21, 86, 88);
    border: 0px;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 2rem;
}
